.histogram{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    
    width: 30vw;
    height: 10em;
}

.histogram > * {
    background: grey;
    flex: 1;
}

